@namespace BlazorBlueprint.Components

<div class="@RingClass" @attributes="AdditionalAttributes">
    <div class="@CssClass">
        @if (ChildContent != null)
        {
            <div class="@IconSizeClass flex items-center justify-center">
                @ChildContent
            </div>
        }
        else
        {
            <div class="@IconSizeClass rounded-full"></div>
        }
    </div>
</div>
