@namespace BlazorBlueprint.Components.Timeline

<div class="@CssClass" @attributes="AdditionalAttributes">
    @if (ChildContent != null)
    {
        <div class="@IconSizeClass flex items-center justify-center">
            @ChildContent
        </div>
    }
    else
    {
        <div class="@IconSizeClass rounded-full"></div>
    }
</div>
