@namespace BlazorBlueprint.Primitives.DataGrid
@typeparam TData where TData : class

<CascadingValue Value="Context" IsFixed="false">
    <table role="grid"
           id="@Context.GridId"
           aria-label="@AriaLabel"
           aria-rowcount="@GetAriaRowCount()"
           class="@Class"
           @attributes="AdditionalAttributes">
        @ChildContent
    </table>
</CascadingValue>
