@namespace BlazorBlueprint.Primitives.Menubar

<div role="separator" @attributes="AdditionalAttributes"></div>

@code {
    /// <summary>
    /// Additional HTML attributes.
    /// </summary>
    [Parameter(CaptureUnmatchedValues = true)]
    public Dictionary<string, object>? AdditionalAttributes { get; set; }
}
