@typeparam TValue
@namespace BlazorBlueprint.Primitives.RadioGroup

<CascadingValue Value="context" IsFixed="false">
    <div role="radiogroup"
         aria-label="@AriaLabel"
         aria-disabled="@Disabled.ToString().ToLower()"
         @onkeydown="HandleKeyDown"
         @onkeydown:preventDefault="true"
         @attributes="AdditionalAttributes">
        @ChildContent
    </div>
</CascadingValue>
