@namespace BlazorBlueprint.Primitives.TreeView
@implements IAsyncDisposable
@inject IJSRuntime JSRuntime

@* TreeView primitive root component - headless, unstyled behavior only *@
<div @ref="elementRef"
     id="@context.Id"
     role="tree"
     aria-multiselectable="@(SelectionMode == TreeSelectionMode.Multiple ? "true" : null)"
     aria-label="@AriaLabel"
     @attributes="AdditionalAttributes">
    <CascadingValue Value="@context" IsFixed="false">
        @ChildContent
    </CascadingValue>
</div>
