@namespace BlazorBlueprint.Components

<div
    role="@(Decorative ? "none" : "separator")"
    aria-orientation="@(Decorative ? null : Orientation.ToString().ToLower())"
    class="@CssClass">
</div>
