@namespace BlazorBlueprint.Components

@if (List is { AutoSeparator: true } && _itemIndex > 0)
{
    <BbBreadcrumbSeparator>
        @List.SeparatorContent
    </BbBreadcrumbSeparator>
}
<li class="@CssClass">
    @ChildContent
</li>

@code {
    private int _itemIndex;

    [CascadingParameter]
    public BbBreadcrumbList? List { get; set; }

    [Parameter]
    public string? Class { get; set; }

    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    protected override void OnParametersSet()
    {
        if (List is { AutoSeparator: true })
        {
            _itemIndex = List.RegisterItem();
        }
    }

    private string CssClass => ClassNames.cn(
        "inline-flex items-center gap-1.5",
        Class
    );
}
