<div class="flex flex-col space-y-2 text-center sm:text-left">
    <h2 id="@TitleId" class="text-lg leading-none font-semibold tracking-tight">
        @Title
    </h2>

    @if (!string.IsNullOrEmpty(Description))
    {
        <p id="@DescriptionId" class="text-muted-foreground text-sm">
            @Description
        </p>
    }
</div>

@code {
    [Parameter] public string Title { get; set; } = string.Empty;
    [Parameter] public string? Description { get; set; }
    [Parameter] public string? TitleId { get; set; }
    [Parameter] public string? DescriptionId { get; set; }
}
