@namespace BlazorBlueprint.Components

@if (Variant == FieldLegendVariant.Legend)
{
    <legend
        data-slot="field-legend"
        class="@CssClass"
        @attributes="AdditionalAttributes">
        @ChildContent
    </legend>
}
else
{
    <div
        role="group"
        aria-label="@AriaLabel"
        data-slot="field-legend"
        class="@CssClass"
        @attributes="AdditionalAttributes">
        @ChildContent
    </div>
}
