@namespace BlazorBlueprint.Components

<div
    data-slot="field-group"
    data-orientation="@Orientation.ToString().ToLowerInvariant()"
    class="@CssClass"
    @attributes="AdditionalAttributes">
    @ChildContent
</div>
