@namespace BlazorBlueprint.Components

@if (Errors != null && Errors.Any())
{
    <div
        data-slot="field-error"
        class="@CssClass"
        @attributes="AdditionalAttributes">
        @foreach (var error in Errors)
        {
            <div class="flex items-start gap-1.5">
                <span class="mt-0.5">•</span>
                <span>@error</span>
            </div>
        }
    </div>
}
else if (ChildContent != null)
{
    <div
        data-slot="field-error"
        class="@CssClass"
        @attributes="AdditionalAttributes">
        @ChildContent
    </div>
}
