@namespace BlazorBlueprint.Components

<div
    role="group"
    data-slot="field"
    data-orientation="@Orientation.ToString().ToLowerInvariant()"
    data-invalid="@(IsInvalid ? "true" : null)"
    class="@CssClass"
    @attributes="AdditionalAttributes">
    <CascadingValue Value="@IsInvalid" Name="FieldIsInvalid">
        @ChildContent
    </CascadingValue>
</div>
