@namespace BlazorBlueprint.Components

<span class="@CssClass">
    @ChildContent
</span>

@code {
    [Parameter]
    public string? Class { get; set; }

    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    private string CssClass => ClassNames.cn(
        "ml-auto text-xs tracking-widest opacity-60",
        Class
    );
}
