@namespace BlazorBlueprint.Components
@implements IDisposable

<div class="relative">
    <BlazorBlueprint.Primitives.Menubar.BbMenubarMenu @ref="primitiveRef">
        <CascadingValue Value="this" IsFixed="false">
            @ChildContent
        </CascadingValue>
    </BlazorBlueprint.Primitives.Menubar.BbMenubarMenu>
</div>

@code {
    private BlazorBlueprint.Primitives.Menubar.BbMenubarMenu? primitiveRef;

    [CascadingParameter]
    public BbMenubar? Context { get; set; }

    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    internal BlazorBlueprint.Primitives.Menubar.MenubarMenuContext? MenuContext =>
        primitiveRef?.MenuContext;

    internal bool IsOpen => MenuContext?.IsOpen == true;

    internal void Open() => MenuContext?.Open();
    internal void Close() => MenuContext?.Close();
    internal void Toggle() => MenuContext?.Toggle();

    public void Dispose()
    {
        // Primitive handles unregistration via its own Dispose
    }
}
