@namespace BlazorBlueprint.Components

<BlazorBlueprint.Primitives.Collapsible.BbCollapsibleContent ForceMount="true" class="@GridCssClass">
    <div class="overflow-hidden min-h-0">
        <div class="@CssClass">
            @ChildContent
        </div>
    </div>
</BlazorBlueprint.Primitives.Collapsible.BbCollapsibleContent>
