@namespace BlazorBlueprint.Components

<div
    data-slot="button-group"
    role="group"
    aria-label="@AriaLabel"
    class="@CssClass"
    @attributes="AdditionalAttributes">
    @ChildContent
</div>
