@namespace BlazorBlueprint.Components

<div data-slot="separator" class="@WrapperCssClass">
    <BbSeparator
        Orientation="Orientation"
        Decorative="@Decorative"
        Class="@CssClass" />
</div>
