@namespace BlazorBlueprint.Primitives.Table
@typeparam TData where TData : class

<CascadingValue Value="Context" IsFixed="false">
    <table role="table"
           aria-label="@AriaLabel"
           aria-rowcount="@GetAriaRowCount()"
           class="@Class"
           @attributes="AdditionalAttributes">
        @ChildContent
    </table>
</CascadingValue>
