<footer class="border-t py-6 md:py-0">
    <div class="container flex flex-col items-center justify-between gap-4 md:h-24 md:flex-row px-4">
        <div class="flex flex-col items-center gap-4 px-8 md:flex-row md:gap-2 md:px-0">
            <p class="text-center text-sm leading-loose text-muted-foreground md:text-left">
                Built with
                <a href="/" target="_blank" rel="noreferrer" class="font-medium underline underline-offset-4">
                    BlazorUI
                </a>
                . Inspired by
                <a href="https://ui.shadcn.com" target="_blank" rel="noreferrer" class="font-medium underline underline-offset-4">
                    shadcn/ui
                </a>
                and
                <a href="https://www.radix-ui.com" target="_blank" rel="noreferrer" class="font-medium underline underline-offset-4">
                    Radix UI
                </a>
                .
            </p>
        </div>
    </div>
</footer>
