@inherits LayoutComponentBase
@using BlazorUI.Primitives.Services

<div class="min-h-screen bg-background">
    <NavMenu />

    <main class="flex-1">
        @Body
    </main>

    <Footer />
</div>

<PortalHost />
