@namespace BlazorBlueprint.Components

<div class="@CssClass" @onpointerdown="HandlePointerDown">
    @if (WithHandle)
    {
        <div class="@HandleIconClass">
            <svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M5.5 4.625C6.12132 4.625 6.625 4.12132 6.625 3.5C6.625 2.87868 6.12132 2.375 5.5 2.375C4.87868 2.375 4.375 2.87868 4.375 3.5C4.375 4.12132 4.87868 4.625 5.5 4.625ZM9.5 4.625C10.1213 4.625 10.625 4.12132 10.625 3.5C10.625 2.87868 10.1213 2.375 9.5 2.375C8.87868 2.375 8.375 2.87868 8.375 3.5C8.375 4.12132 8.87868 4.625 9.5 4.625ZM10.625 7.5C10.625 8.12132 10.1213 8.625 9.5 8.625C8.87868 8.625 8.375 8.12132 8.375 7.5C8.375 6.87868 8.87868 6.375 9.5 6.375C10.1213 6.375 10.625 6.87868 10.625 7.5ZM5.5 8.625C6.12132 8.625 6.625 8.12132 6.625 7.5C6.625 6.87868 6.12132 6.375 5.5 6.375C4.87868 6.375 4.375 6.87868 4.375 7.5C4.375 8.12132 4.87868 8.625 5.5 8.625ZM10.625 11.5C10.625 12.1213 10.1213 12.625 9.5 12.625C8.87868 12.625 8.375 12.1213 8.375 11.5C8.375 10.8787 8.87868 10.375 9.5 10.375C10.1213 10.375 10.625 10.8787 10.625 11.5ZM5.5 12.625C6.12132 12.625 6.625 12.1213 6.625 11.5C6.625 10.8787 6.12132 10.375 5.5 10.375C4.87868 10.375 4.375 10.8787 4.375 11.5C4.375 12.1213 4.87868 12.625 5.5 12.625Z" fill="currentColor" fill-rule="evenodd" clip-rule="evenodd"></path>
            </svg>
        </div>
    }
</div>

@code {
    [CascadingParameter]
    private BbResizablePanelGroup? Group { get; set; }

    /// <summary>
    /// Whether to show the grip handle icon.
    /// </summary>
    [Parameter]
    public bool WithHandle { get; set; } = true;

    /// <summary>
    /// Additional CSS classes to apply.
    /// </summary>
    [Parameter]
    public string? Class { get; set; }

    private int _handleIndex = -1;

    private bool IsHorizontal => Group?.GetDirection() == ResizableDirection.Horizontal;

    protected override void OnInitialized()
    {
        if (Group != null)
        {
            _handleIndex = Group.RegisterHandle();
        }
    }

    private async Task HandlePointerDown(PointerEventArgs e)
    {
        if (Group != null && _handleIndex >= 0)
        {
            await Group.StartResize(_handleIndex, e.ClientX, e.ClientY, e.PointerId);
        }
    }

    private string CssClass => ClassNames.cn(
        "relative flex items-center justify-center bg-border",
        IsHorizontal
            ? "w-px cursor-col-resize hover:bg-primary/50 active:bg-primary"
            : "h-px cursor-row-resize hover:bg-primary/50 active:bg-primary",
        "after:absolute after:inset-y-0 after:left-1/2 after:-translate-x-1/2",
        IsHorizontal ? "after:w-1" : "after:h-1",
        Class
    );

    private string HandleIconClass => ClassNames.cn(
        "z-10 flex h-4 w-3 items-center justify-center rounded-sm border bg-border",
        IsHorizontal ? "rotate-90" : ""
    );
}
