@namespace BlazorUI.Primitives.Services
@implements IDisposable
@inject IPortalService PortalService

@* Renders all registered portals at the document body level *@
@foreach (var portal in PortalService.GetPortals())
{
    <div data-portal-id="@portal.Key" class="blazorui-portal" style="display: contents;">
        @portal.Value
    </div>
}

@code {
    protected override void OnInitialized()
    {
        PortalService.OnPortalsChanged += StateHasChanged;
    }

    public void Dispose()
    {
        PortalService.OnPortalsChanged -= StateHasChanged;
    }
}
